/*grid sectinon*/
.container {
    display: grid;
    grid-template-areas:
      'main'
      'comments'
      'footer';
    gap: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.listing-grid, .comments-grid {
  grid-area: main;
  border: transparent;
  width: auto;
  align-items: center;
  text-align: center;
  padding: 10px;
  background-color: #9DB5B2;
}

.grid-container-1 .comments-grid {
  grid-area: comments;
  grid-template-areas:
    'item1';
  gap: 5px;
}

.sub-container {
  display: flex;
  gap: 5px;
  z-index: 1;
}

#item1, #item2 {
  grid-area: item1;
  border: solid black;
  padding: 5vw;
  width: auto;
  font-size: 14pt;
  text-align: center;
  background-color: #DAF0EE;
  flex: 1;
}

#item2 {
  grid-area: item2;
  align-items: left;
  text-align: left;
}

#item2 .item-locale{
  grid-area: locale;
}

#item2 .item-price{
  grid-area: price;
}

.user-img {
  grid-area: avatar;
}

.user-name {
  grid-area: name;
}

#item2 .item-desc {
  grid-area: desc;
}

/*General stuff*/
#item1 img {
  min-height: 512px;
  max-height: 512px;
  min-width: 512px;
  max-width: 512px;
}

#item2 img {
  min-height: 100px;
  max-height: 100px;
  max-width: 100px;
  min-width:100px;
  flex: 1;
}

/*image preview section*/
#output{
  max-height: 600px;
  max-width: 600px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 5px;
  position: relative;
  border-radius: 2px;
  margin-left: auto;
  margin-right: auto;
}

#output .image{
  height: 400px;
  border-radius: 2px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  position: relative;
}

#output .image img{
  height: 100%;
  width: 100%;
}



