.container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: blue;
    margin-top:2pt;
    margin-bottom: 2pt;
}

.container:nth-child(1) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.item {
    background-color: yellow;
    margin:1em;
}