.grid-container-1 {
    display: grid;
    grid-template-areas:
      'header header header header header header'
      'main main main main main main'
      'main main main main main main'
      'comments comments comments comments comments comments'
      'footer footer footer footer footer footer';
    gap: 10px;
    padding: 10px;
}

.grid-container-1 .products-grid {
  grid-area: main;
  background-color: rgba(22, 154, 20, 0.8);
  border: transparent;
  width: auto;
  font-size: 30px;
  text-align: center;
}

.grid-container-1 .comments-grid {
  grid-area: comments;
}

.grid-container-1 .footer-grid {
  grid-area: footer;
  background-color: orange;
  border: transparent;
  text-align: center;
  height: auto;
  font-size: 10px;
  padding: 3px;
}


.grid-container-2{
  display: grid;
  grid-template-areas:
  'title title title title title'
  'image image seller seller seller'
  'image image seller seller seller'
  'desc desc seller seller seller';
  gap: 10px;
  padding: 10px;


}
.grid-container-2 .product-title{

  grid-area: title;
  background-color: purple;
}

.grid-container-2 .product-image{

  grid-area: image;
  background-color: green;
}
.grid-container-2 .product-seller{

  grid-area: seller;
  background-color: pink;
}
.grid-container-2 .product-desc{

  grid-area: desc;
  background-color: red;
  float: right;
}



